.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.shop{
    background-color: white;
}


.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: black;
    margin-top: 6px;
}

.shop-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #333;
}

.product-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.product-price {
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

.ad-to-cart {
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.ad-to-cart:hover {
    background-color: green;
    
}
